<main>
  <form class="product-form" action="/admin/add-product" method="POST">
    <section class="form-control">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
    </section>
    <button type="submit">Add product</button>
  </form>
</main>